body {
    max-width: 100%;
    /* overflow-x: hidden; */
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.vroom-volts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2a2a42;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
        -20px -20px 60px rgba(0, 0, 0, 0.1);
}

.header-volts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* width: 100%; */
    margin: 0 50px 0 50px;
    color: white;
}

.current-level {
    /* flex: 2 1 0; */
    /* height: 250px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-box {
    background-color: #222338;
    height: 100%;
    width: 80%;
    border-radius: 3rem;
    border: 5px solid
        linear-gradient(
            94deg,
            rgba(231, 219, 25, 1) 0%,
            rgba(228, 162, 89, 1) 100%
        );
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
        -20px -20px 60px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    /* border-image: linear-gradient(#e09d16, #ffef08) 30;
    border-width: 2px;
    border-style: solid; */
}

.coin {
    width: 4rem;
    transition: 0.8s;
    padding: 0 1rem;
}

.coin:hover {
    transform: scale(1.3) rotate(6.284rad);
    /* transform: rotate(6.284rad); */
}

.coins {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
}

.progress-bar-container {
    width: 80%;
    height: 100%;
    margin: 0;
}

.progress-stats-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.print {
    margin: 0;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.print img {
    width: 80px;
}

.next-levels {
    transform: scale(0.9);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5rem; */
    opacity: 0.4;
}

.smaller {
    transform: scale(0.8);
    opacity: 0.35;
}
.how-to {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

.how-to button {
    margin-right: 3rem;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.how-to p {
    color: rgb(202, 202, 202);
    font-size: 20px;
}

.modal {
    /* display: block;  */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
    /* animation-name: fadeIn;
    animation-duration: 0.5s; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    /* position: fixed; */
    /* left: 25%; */
    /* top: 10%; */
    background-color: #2a2a42;
    width: 50%;
}

.lucky {
    top: 5%;
}

.how {
    top: 20%;
}

/* The Close Button */
.close {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0 1rem 0 0;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    background-color: #222338;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.modal-header-how {
    background-color: #222338;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
}

.modal-body {
    padding: 2px 16px;
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-title {
    font-size: 25px;
    font-weight: bold;
}

.modal-title-lucky {
    font-size: 25px;
    margin-left: 1rem;
}
.ways-to-win {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.ways-to-win p {
    width: 100%;
}

.nonlogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100%;
}
.spinning-wheel {
    width: 70%;
}
@media screen and (max-width: 800px) {
    .nonlogin {
        width: 100%;
        height: 100vh;
    }
    .App {
        flex-direction: column;
        height: fit-content !important;
        width: fit-content !important;
    }
    .print {
        font-size: 16px;
    }
    .level-box {
        width: 400px;
    }
    .how-to {
        display: flex;
        justify-content: space-evenly;
    }
    #myBtn {
        margin: 0;
    }
    .modal-content {
        width: 90%;
    }
    .how-to {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .spinning-wheel {
        width: 100%;
    }
    .modal-title-lucky {
        font-size: 16px !important;
    }
}

/* 
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */
