.menu {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* overflow: hidden; */
    border-radius: 50px;
    /* box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
      -20px -20px 60px rgba(0, 0, 0, 0.1); */
}

.component-parts {
    width: 100%;
    /* box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
  -20px -20px 60px rgba(0, 0, 0, 0.1);
  margin: 2px */
}

.active-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    flex: 1 1 0;
}

.logo-box {
    width: 70px;
    height: 70px;
    background-color: #c4c6cb;
    margin: 20px 0 0 20px;
    border-radius: 1.5rem;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.3),
        -20px -20px 60px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 100%;
    height: auto;
}

.active-menu {
    margin-left: 20px;
    margin-bottom: 20px;
    color: #c4c6cb;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.list-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #c4c6cb;
    height: 100%;
    flex: 3 1 0;
}

.list-menu-container div {
    padding: 20px 0 20px 20px;
}

a {
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: larger;
    color: inherit;
}

.clicked {
    text-align: left;
    background: linear-gradient(
        94deg,
        rgba(108, 49, 229, 1) 0%,
        rgba(194, 89, 228, 1) 100%
    );
    width: 90%;
    border-radius: 2rem;
    padding: 10px 0 10px 20px;
    color: white;
    box-shadow: 20px 20px 90px rgba(0, 0, 0, 0.3),
        -20px -20px 90px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.non-clicked {
    border-radius: 1rem;
}
.checkout-container {
    background-image: url(../../assets/LabBro_Logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 2 1 0;
}

.checkout-button {
    margin-bottom: 40px;
    border-radius: 2rem;
    background: linear-gradient(
        94deg,
        rgba(108, 49, 229, 1) 0%,
        rgba(194, 89, 228, 1) 100%
    );
    color: #f2f2f2;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: large;
    border-width: 0px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5),
        -20px -20px 60px rgba(0, 0, 0, 0.5);
    padding: 10px 20px 10px 20px;
    z-index: 1;
    cursor: pointer;
}

.no-margin {
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .menu-login {
        width: 250px;
        height: 50px;
        font-size: 18px;
        margin-top: 2rem;
    }
    .clicked {
        font-size: 18px;
    }
    .non-clicked {
        font-size: 18px;
    }
    .checkout-container {
        width: 100%;
        height: 500px !important;
        padding: 0 !important;
        margin-top: 2rem;
    }
}
