.marathon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2a2a42;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
        -20px -20px 60px rgba(0, 0, 0, 0.1);
}
.marathon-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    margin: 0 50px 0 50px;
}

.leaderboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    height: fit-content;
    width: 100%;
}

.first {
    /* color: #dcaf3c; */
    color: #fdca23;
    font-size: 65px;
    margin: 1rem;
}

.second {
    color: rgb(199, 199, 199);
    font-size: 45px;
    margin: 1rem;
}

.third {
    color: #cd7f32;
    font-size: 35px;
    margin: 1rem;
}

.marathon-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #23233785;
    border-radius: 30px;
    padding: 1rem;
    height: fit-content;
    z-index: 1;
    transition: 0.4s;
}
.marathon-card:hover {
    transform: scale(1.03);
}

.marathon-card p {
    color: white;
    font-size: 20px;
}

.position {
    color: #fff;
    width: 80%;
    margin: 0 0 1rem;
}
.login-for-position {
    color: #fff;
    width: 80%;
    margin: 0 0 1rem;
    font-size: 25px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.total-time {
    color: #fff;
    width: 80%;
    margin: 0 0 1rem;
    font-size: 25px;
}

@media only screen and (max-width: 800px) {
    .marathon-card {
        margin: 2rem 0;
    }
}
