.users-graph-container,
.users-graph-container-inactive {
    width: 48%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: #101925 0px 20px 30px;
}
.users-graph-container {
    height: 100%;
}

.users-graph-container-inactive {
    height: 35%;
}

.loading {
    /* background-color: #e3f4f225; */
    filter: blur(15px);
}

.users-graph-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #e3f4f2;
    margin: 0;
}

.users-graph-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: #e3f4f2;
}

.users-graph-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5rem;
}

@media screen and (max-width: 768px) {
    .users-graph-container,
    .users-graph-container-inactive {
        display: none;
    }
}
