.statistics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.avg-time {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.avg-time span {
    font-size: small;
    font-style: italic;
    margin-right: 10px;
}
