.users {
    width: 100%;
    height: 100%;
    background-color: #2a2a42;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
        -20px -20px 60px rgba(0, 0, 0, 0.1);
}

.users-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    margin: 0 50px 0 50px;
}

.user-entries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    height: 90%;

    /* background-color: aliceblue; */
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #181827;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6a308c;
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #57578e;
    /* background: #505050; */
}
