.activity-panel {
    width: 100%;
    height: 100%;
    /* box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
    -20px -20px 60px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; */
    /* background-image: url(../../assets/activity_pattern.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; */
}

.header {
    flex: 1 1 0;
}
.activity-panel-container {
    width: 100%;
    /* height: 100%; */
    flex: 2 1 0;
    background-image: url(../../assets/activity_pattern.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activity-panel-container h3 {
    color: white;
    text-align: left;
    width: 100%;
    margin: 3rem 0 0 0;
    /* margin-left: 20px; */
}

.total-hours-title {
    color: white;
    opacity: 0.9;
    text-align: left;
    width: 100%;
    margin: 0.5rem 0 1rem;
}
.classification {
    backdrop-filter: blur(20px);
    width: 100%;
    height: 80%;
    flex: 2 1 0;
    width: 100%;
    /* margin: 1rem 3rem 0; */
    padding: 0 0 2rem;
}

@media screen and (max-width: 800px) {
    .activity-panel {
        height: 100vh;
    }
}
