.activity-panel {
    width: 100%;
    height: 100%;
    /* box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
    -20px -20px 60px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; */
    /* background-image: url(../../assets/activity_pattern.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; */
}

.header {
    flex: 1 1 0;
}
.activity-panel-container {
    width: 100%;
    /* height: 100%; */
    flex: 2 1 0;
    background-image: url(../../assets/activity_pattern.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activity-panel-container h3 {
    color: white;
    text-align: left;
    width: 100%;
    /* margin-left: 20px; */
}

.classification {
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    flex: 2 1 0;
    margin-top: 30px;
}




