.roulette-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.roulette-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80%;
    width: 90%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAACdJREFUGFclirENAAAMguD/o220ixpQMYgEIKi2wQIKJojG5swePw9HKQkOQbvAHAAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    background-color: #7a2222;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.roulette-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
}
.roulette-title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roulette-title h1 {
    font-size: 2.5rem;
    color: #fff;
    margin: 0 0.5rem 0 0;
    padding: 0;
}

.roulette-title img {
    height: 3rem;
    width: 3rem;
    margin: 0 1rem 0 0;
    padding: 0;
}

.roulette-instructions {
    font-size: 2rem;
    color: #fff;
}

.roulette-bet-board {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 12rem;
    width: 40rem;
}

.roulette-bet-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    height: 100%;
    width: 100%;
    background-color: blue;
}

.bet-number,
.bet-number-r,
.bet-number-g,
.bet-number-categ {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid #efb98d;
    color: #fff;
}

.bet-number-r {
    background-color: red;
}

.bet-number-g {
    background-color: green;
}

.bet-number-categ {
    background-color: #233a58;
}

.bet-number {
    background-color: black;
}

.bet-number:hover {
    cursor: pointer;
    background-color: rgb(43, 43, 43);
}

.bet-number-r:hover {
    cursor: pointer;
    background-color: rgb(255, 69, 69);
}

.bet-number-g:hover {
    cursor: pointer;
    background-color: rgb(72, 192, 72);
}

.bet-number-categ:hover {
    cursor: pointer;
    background-color: #2e5180;
}

.bet-active {
    background-color: #7d2e80;
}

.bet-active:hover {
    background-color: #571f58;
}
