.menu {
    width: 20vw;
    height: 90vh;
    backdrop-filter: blur(25px);
    /* background-color: rgba(13, 13, 17, 0.5);; */
    border-radius: 25px;
    box-shadow: 10px 10px 20px black;
    /* box-shadow: -10px -10px white; */

}