.statistics-card {
    height: 80px;
    width: 400px;
    background-color: #222338;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1),
        -20px -20px 60px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: 0.2s;
}

.icon-container {
    width: 60px;
    height: 60px;
    border-radius: 1rem;
    background-color: #e94560b8;
    margin-left: 20px;
    text-align: center;
    font-size: 30pt;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    color: white;
    text-align: left;
    margin-left: 3rem;
}

.info {
    margin: 0;
    text-align: left;
}

.title {
    color: #c4c6cb;
}
@media only screen and (max-width: 800px) {
    .statistics-card {
        margin: 0.5rem 0;
    }
}
