.custom-tooltip {
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;
    height: fit-content;
}

.custom-tooltip :hover {
    border: none;
}

.custom-tooltip :active {
    border: none;
}
