.legend {
    margin-top: 1rem;
    color: #cacaca;
    text-align: left;
    width: 100%;
    display: flex;
}

.legend-box {
    background: linear-gradient(
        94deg,
        rgba(108, 49, 229, 1) 0%,
        rgba(194, 89, 228, 1) 100%
    );
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}
