.App {
  text-align: center;
  backdrop-filter: blur(18px);
  height: 100vh;
  width: 100vw;
}

.menu-container {
  width: 30vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}