.App {
    text-align: center;
    backdrop-filter: blur(18px);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-container {
    margin: 20px;
    /* width: 20vw; */
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.bar-chart {
    width: 40vw;
    height: 800px;
}

.dashboard-container {
    margin: 20px;
    height: 90vh;
    flex: 3;
}

.activity-container {
    margin: 20px;
    height: 90vh;
    flex: 1;
}

@media only screen and (max-width: 800px) {
    .App {
        flex-direction: column;
        /* height: fit-content !important;
        width: fit-content !important; */
    }
    body {
        overflow-y: scroll !important;
        height: fit-content !important;
        width: fit-content !important;
    }
    #root {
        width: fit-content;
        height: fit-content;
    }
    .activity-container {
        margin: 1rem 1rem;
        height: fit-content !important  ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dashboard-container {
        height: fit-content !important;
    }
}
